//VARIABLES
$mainColor: #62AEE7;
$btnColor: #66ABE6;
$bgColor:#FCFCFC;
$wColor: #FFFFFF;
$tColor1: #2E2E2E;
$tColor2:#000000;
$tColor3: #6B7575;
$tColor4:#919191;
$border: 7px solid #BFBFBF;
$border1: 1px solid $mainColor;
$fSize: 15.03px;
$font: 'Montserrat';
$mWidth: 1220px;
$size: 1.33px;